
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,600;1,700&display=swap');
* {
  padding : 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  padding:  50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
 
  
}
.background {
   position: absolute;
   z-index: 1;
    top: 0;
 width: 100%;
 height: 100%;
  left: 0;
  background-image: linear-gradient(to right,#0500FF,#F8FB76,#4EFF75,#00FFD1);
}
.foreground {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 2;
  background-color: #F6FAFF;
}
.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li  {
  display: inline-block;
}
ul li a {
  color: #333;
  padding: 0 30px;
  transition: font-weight 0.3s ease;
}
ul li a.active , ul li a:hover {
  font-weight: 500;
}

.btn {
  padding: 10px 25px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
.btn.outline {
  border: 1px solid #9f9b9b;
  border-radius: 2px;
}

/* content */
.content {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 50px;
  margin-top: 50px;
  justify-content: center;
}
.content .hero {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}
.hero h1 {
  font-weight: 700;
  line-height: 1.6;
  font-size: 34px;
}
.hero p {
  font-size: 18px;
  font-weight: 400;
}
.button-area {
  margin: 20px 0;
}
.hero .btn {
  background-color: #001AFF;
  color: white;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero .btn:hover {
  box-shadow: none;
}
.hero .button-area a {
  margin: 0 10px;
 text-decoration: underline;
}
.hero .button-area a:hover {
  text-decoration: none;
}

/* feature */
.feature {
  position: relative;
  z-index : 2;
}
.features {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.feature .f {
  font-weight: 700;
}
.card {
  width: 25%;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.primary {
  background-color: #001AFF;
  color: white;
}
.card .header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.card .header .title h2 {
  font-weight: 700;
  font-size: 1.3em;
}
.card .info {
  font-weight: 200;
  margin: 15px 0;
  padding: 5px;
}
.card .footer  {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.card .footer .btn {
  background-color: rgb(122, 118, 118);
  font-weight: 300;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
}


